label{
    font-weight: bold;
    font-size: 20px;
}

input{
    width: 40%;
    height:4%;
    border-radius: 5px;
    border-color: rgb(214, 209, 209);
    outline: 0 none;
}

p{
    font-size: 18px;
}

.control-label{
    color: pink;   
}

textarea{
    width: 50%;
    height: 10%;
    border-radius: 5px;
    border-color: rgb(214, 209, 209);
    outline: 0 none;
}

.sendBtn{
    height: 5%;
    width: 20%;
    font-size: 20px;
    color: white;
    background-color: rgb(91, 91, 248);
    border-style: none;
    outline-style: none;
}

.sendBtn:hover{
    background-color: rgb(75, 176, 243);
}

.fields{
    margin: 20 0 20 0;
}